@media print {
        * {
                vertical-align: 0;
        }
        body {
                margin: 0;
                padding: 0;
                width: 100%;
                background-color: white;
                font-family: "ヒラギノ明朝 Pro W3", "細明朝体", "ＭＳ Ｐ明朝", serif;
                font-size: 10.5pt;
                line-height: 1.36em;
        }
        head + body {
                width: 165mm;
                max-width: 100%;
                min-width: 80%;
                margin: 0 auto;
        }
        h1, h2, h3, th, dt, strong, a, #logo a, #footer ul li {
                margin: 0;
                padding: 0;
                font-family: sans-serif;
                font-weight: normal;
                color: #111144;
        }
        #banner {
                display: none;
                height: 0;
        }
        #r_sidebar {
                display: none;
        }
        .bottom_indexes {
                display: none;
        }
        h1 {
                font-size: 20pt;
                line-height: 1.3em;
                a {
                        text-decoration: none;
                }
        }
        h2 {
                margin-top: 1em;
                font-weight: bold;
                line-height: 1.3em;
        }
        h3 {
                font-family: "Helvetica Neue", "Helvetica", sans-serif;
                font-variant: small-caps;
                color: #FF251B;
                color: black;
        }
        div {
                &#nav {
                        display: none;
                }
                &#masthead h1 {
                        font-size: 12pt;
                        color: #333;
                }
        }
        span.tweet-button {
                display: none;
        }
        div {
                &.reference {
                        font-family: Georgia, "Times New Roman", Times, serif;
                        font-size: 12pt;
                        color: #000;
                        line-height: normal;
                        background: #FcFcFC;
                        border: 1px solid #DDDCDC;
                        margin: 0px 0px 10px 0px;
                        padding: 10px 10px 10px 15px;
                }
                &.hs-figure {
                        text-align: center;
                }
                &.hs-figure-box {
                        width: 130mm;
                        a.highslide img {
                                width: 400pt;
                        }
                }
                &.hs-figure-caption {
                        font-size: 9pt;
                        a:after {
                                content: " " attr(href) " ";
                        }
                        text-align: left;
                        text-justify: inter-ideograph;
                        width: 400pt;
                }
                &.au-profile {
                        font-size: 13px;
                        background: #FcFcFC;
                        border: 1px solid #DDDCDC;
                        margin: 0px 0px 10px 0px;
                        padding: 0px 20px 10px 20px;
                        span {
                                &.author {
                                        font-weight: bold;
                                }
                                &.af, &.hi {}
                        }
                }
        }
        p {
                &#footer-navi, &#footer-web {
                        display: none;
                }
        }
        #content {
                h1 {
                        border: none;
                }
        }
        #contentleft os li {
                font-size: 9pt;
                line-height: 1.2em;
        }
        #contentleft {
                float      : none;
                width      : 100%;
                margin     : 0;
                padding    : 0 0 20px 0;
                text-align : left;

                .article {
                        flex-basis: 100%;
                        margin: 0;
                }
                .article_thumb {
                        border: none;
                }
        }
        span {
                &.ti, &.au, &.so {
                        font-size: 9pt;
                        line-height: 1.2em;
                }
        }
        p, dt, dd, th, td, li {
                line-height: 1.8;
        }
        #container {
                text-align: right;
        }
        #content {
                width: 92%;
                margin-left: auto;
                text-align: left;
        }
        span.so a:after {
                content: "  " attr(href) " ";
                font-size: 8pt;
                color: gray;
        }
        #logo a:after {
                content: "";
        }
        div#contentleft {
                p {
                        &.date {
                                display: none;
                        }
                        font-size: 9pt;
                        strong {
                                font-size: 12pt;
                                font-weight: bold;
                        }
                }
                ol li {
                        font-size: 9pt;
                        line-height: 1.1em;
                }
        }
        /*
        div#contentleft p a:after {
        content: " " attr(href) " ";
        }
        */
        span.ti {
                font-weight: bold;
        }
}