@charset "UTF-8";
html {
  overflow-y: scroll;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

svg:not(:root) {
  overflow: hidden; }

/* base */
/* content */
/* sidebar */
html {
  overflow-y: scroll;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

svg:not(:root) {
  overflow: hidden; }

body {
  color: #333;
  text-align: center;
  font-size: 14px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", verdana, sans-serif;
  line-height: 1.5em;
  margin: 0 auto;
  padding: 0; }

#wrap {
  background: #333;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0; }

/************************************************
*	Hyperlinks
************************************************/
a:link, a:visited {
  color: #886353;
  text-decoration: none;
  outline: none; }
a:hover, a:active {
  color: #4C666A;
  text-decoration: underline;
  outline: none; }

/************************************************
*	Navbar
************************************************/
#nav {
  text-align: right;
  padding: 0;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
  line-height: 3rem;
  width: 100%; }
  #nav ul {
    margin: auto;
    padding: 0;
    max-width: 1200px; }
  #nav li {
    display: inline;
    font-weight: bold;
    padding: 0 5px 0 10px; }
  #nav a {
    font-size: 12px; }
    #nav a:link, #nav a:visited {
      color: #333;
      text-decoration: none; }
    #nav a:hover, #nav a:active {
      color: #333;
      text-decoration: underline; }
  #nav .nav-toggle {
    display: none; }

@media screen and (max-width: 1199px) {
  #nav ul {
    margin: 0 10px; } }
@media screen and (max-width: 667px) {
  #nav .nav-toggle {
    cursor: pointer;
    display: block;
    height: 3.25rem;
    position: relative;
    width: 3.25rem;
    float: right; }
    #nav .nav-toggle span {
      background-color: #886353;
      display: block;
      height: 1px;
      left: 50%;
      margin-left: -7px;
      position: absolute;
      top: 50%;
      transition: none 86ms ease-out;
      transition-property: background, left, opacity, transform;
      width: 15px; }
      #nav .nav-toggle span:nth-child(1) {
        margin-top: -6px; }
      #nav .nav-toggle span:nth-child(2) {
        margin-top: -1px; }
      #nav .nav-toggle span:nth-child(3) {
        margin-top: 4px; }
    #nav .nav-toggle.is-active span {
      background-color: #4C666A; }
      #nav .nav-toggle.is-active span:nth-child(1) {
        margin-left: -5px;
        transform: rotate(45deg);
        transform-origin: left top; }
      #nav .nav-toggle.is-active span:nth-child(2) {
        opacity: 0; }
      #nav .nav-toggle.is-active span:nth-child(3) {
        margin-left: -5px;
        transform: rotate(-45deg);
        transform-origin: left bottom; }
  #nav .nav-menu {
    background-color: #FFF;
    -webkit-box-shadow: 0 4px 7px rgba(10, 10, 10, 0.1);
    box-shadow: 0 4px 7px rgba(10, 10, 10, 0.1);
    left: 0;
    display: none;
    right: 0;
    top: 100%;
    position: absolute; }
    #nav .nav-menu.is-active {
      display: block; }
  #nav ul {
    margin: auto;
    padding: 0; }
  #nav li {
    display: block;
    font-weight: bold;
    padding: 0 5px 0 10px;
    border-bottom: solid 1px #999;
    text-align: center; }
  #nav a {
    font-size: 16px; }
    #nav a:link, #nav a:visited {
      color: #333;
      text-decoration: none; }
    #nav a:hover, #nav a:active {
      color: #4C666A;
      text-decoration: underline; } }
/************************************************
*	Masthead
************************************************/
#masthead {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  padding: 60px 0 10px; }
  #masthead h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.2rem;
    font-weight: normal; }
  #masthead h3 {
    display: none; }
  #masthead a:link, #masthead a:visited {
    color: #FFF;
    text-decoration: none; }
  #masthead a:hover, #masthead a:active {
    color: #FFF;
    text-decoration: none; }

#banner {
  background: url("../images/logo.png") no-repeat;
  background-size: contain;
  background-position: center;
  height: 94px;
  width: 310px;
  margin: auto; }

@media screen and (max-width: 667px) {
  #masthead h1 {
    font-size: 0.8rem; }

  #banner {
    height: 65px;
    width: 210px; } }
/************************************************
*	base width
************************************************/
#content,
.bottom_indexes,
#footer {
  background: #FFF;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0; }

@media screen and (max-width: 1199px) {
  #content,
  .bottom_indexes,
  #footer {
    width: calc(100% - 20px);
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px; } }
@media screen and (max-width: 768px) {
  #content,
  .bottom_indexes,
  #footer {
    width: calc(100% - 20px);
    max-width: 748px;
    margin: 0 10px;
    padding: 0; } }
@media screen and (max-width: 667px) {
  #content,
  .bottom_indexes,
  #footer {
    width: calc(100% - 10px);
    max-width: 647px;
    margin: 0 auto;
    padding: 0 5px; } }
/************************************************
*	Content
************************************************/
#content p {
  padding: 0 0 15px 0;
  margin: 0;
  line-height: 1.4rem; }
#content h1 {
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 0;
  margin-top: 42px;
  padding-left: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.33;
  border-left: solid 5px #F40000; }
  #content h1 a {
    color: #333;
    text-decoration: none; }
    #content h1 a:hover {
      color: #999;
      text-decoration: none; }
#content p img {
  float: left;
  border: none;
  margin-right: 15px;
  margin-bottom: 10px;
  padding-top: 7px; }
#content h2 {
  color: #333;
  font-size: 11px;
  font-weight: bold;
  padding: 0 0 5px 0;
  margin: 25px 0 5px;
  border-bottom: dashed 1px #999; }
#content h3 {
  color: #333;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  margin: 25px 0 0 0;
  padding: 10px 0; }
#content img.wp-smiley, #content img.wp-wink {
  float: none;
  border: none;
  padding: 0;
  margin: 0; }

#contentleft {
  float: left;
  max-width: 960px;
  width: 80%;
  margin: 0;
  padding: 0 0 20px 0;
  text-align: left; }
  #contentleft .autopagerize_page_element {
    display: flex;
    flex-wrap: wrap; }
  #contentleft .article {
    flex-basis: 45%;
    margin-right: 5%; }
  #contentleft .article_thumb {
    margin-left: 2px;
    padding-left: 7px;
    border-left: solid 1px #999; }
  #contentleft ol {
    margin: 0 0 0 20px;
    padding: 0 0 10px; }
    #contentleft ol li {
      margin: 0 0 6px 20px;
      padding: 0;
      line-height: 1.2em; }
  #contentleft ul {
    margin: 0 0 0 20px;
    padding: 0 0 10px 0; }
    #contentleft ul li {
      margin: 0;
      padding: 0 0 0 18px; }
  #contentleft .single {
    margin: 42px 0 15px;
    padding: 20px 0 0 0; }
  #contentleft blockquote {
    margin: 0 25px 10px;
    padding: 0 25px 0 10px;
    background: #333;
    border-top: solid 1px #EFEFEF;
    border-bottom: solid 1px #EFEFEF; }
  #contentleft #content blockquote p {
    color: #FFF;
    margin: 0 0 10px 0;
    padding: 10px 0 0 0; }
  #contentleft .date {
    color: #A97965;
    font-family: Georgia, "Times New Roman", Times, serif; }
  #contentleft .bt-links {
    background: #EFEFEF;
    border: solid 1px #CCC;
    margin: 10px 0;
    padding: 10px 0 10px 15px; }

@media screen and (max-width: 1199px) {
  #contentleft {
    float: left;
    max-width: 900px;
    width: 75%; }
    #contentleft .article {
      flex-basis: 45%;
      margin-right: 5%; } }
@media screen and (max-width: 900px) {
  #contentleft {
    float: left;
    max-width: 538px;
    width: 70%; }
    #contentleft .article {
      flex-basis: 95%;
      margin-right: 5%; } }
@media screen and (max-width: 768px) {
  #contentleft {
    float: left;
    max-width: 538px;
    width: 70%; }
    #contentleft .article {
      flex-basis: 95%;
      margin-right: 5%; } }
@media screen and (max-width: 667px) {
  #contentleft {
    float: none;
    max-width: 657px;
    width: calc(100% - 10px);
    margin: 0 5px;
    display: inline-block; }
    #contentleft .article {
      flex-basis: 100%; } }
/************************************************
*	Right Sidebar
************************************************/
#r_sidebar {
  float: right;
  max-width: 238px;
  width: calc(20% - 2px);
  margin: 40px 0 0 0;
  padding: 0 0 10px 0;
  text-align: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 0.7rem; }
  #r_sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%; }
    #r_sidebar ul li {
      background: none;
      display: block;
      padding: 0;
      margin: 0; }
      #r_sidebar ul li ul {
        padding: 0 5px;
        width: calc(100% - 10px);
        text-align: left; }
        #r_sidebar ul li ul li {
          display: table-row; }
          #r_sidebar ul li ul li::before {
            display: table-cell;
            font-family: "Font Awesome 5 Free";
            content: '\f105';
            color: #870505;
            padding-right: 5px; }
      #r_sidebar ul li h2 {
        border-left: solid 5px #CCC;
        border-right: solid 5px #CCC;
        border-bottom: none;
        background-color: #333;
        color: #FFF;
        font-size: 0.8rem;
        font-weight: normal;
        line-height: 1.8rem;
        padding: 0;
        margin: 15px 0 10px; }
      #r_sidebar ul li .textwidget {
        padding: 0 5px;
        width: calc(100% - 10px);
        text-align: left; }
        #r_sidebar ul li .textwidget .img_item {
          text-align: center;
          display: block; }
        #r_sidebar ul li .textwidget .about_text {
          padding: 10px 0;
          line-height: 1.2rem; }
        #r_sidebar ul li .textwidget.text-center {
          text-align: center; }
      #r_sidebar ul li .relation_words_search_list a {
        background-color: #EFEFEF;
        color: #886353;
        padding: 3px 5px;
        border-radius: 10px;
        margin-right: 5px;
        margin-bottom: 5px;
        display: inline-block; }
      #r_sidebar ul li .relation_words_search_list a:hover {
        text-decoration: none;
        background-color: #EFEFEF;
        color: #4C666A; }
      #r_sidebar ul li select {
        border-radius: 5px;
        border: solid 1px #333;
        margin: 0 5px;
        padding: 10px;
        background: none transparent;
        vertical-align: middle;
        font-size: inherit;
        color: inherit;
        box-sizing: content-box;
        width: 80%;
        height: 30px; }
  #r_sidebar a:link, #r_sidebar a:visited {
    color: #333;
    text-decoration: none;
    outline: none; }
  #r_sidebar a:hover, #r_sidebar a:active {
    color: #333;
    text-decoration: underline;
    outline: none; }
  #r_sidebar p {
    padding: 3px 0 0 0;
    margin: 0;
    line-height: 1.462; }
  #r_sidebar li {
    list-style: none; }

@media screen and (max-width: 1199px) {
  #r_sidebar {
    float: right;
    max-width: 298px;
    width: calc(25% - 2px); } }
@media screen and (max-width: 900px) {
  #r_sidebar {
    float: right;
    max-width: 230px;
    width: calc(30% - 2px); } }
@media screen and (max-width: 768px) {
  #r_sidebar {
    float: right;
    max-width: 230px;
    width: calc(30% - 2px); } }
@media screen and (max-width: 667px) {
  #r_sidebar {
    float: none;
    max-width: 657px;
    width: calc(100% - 10px);
    margin: 20px 5px; } }
/************************************************
*   bottom_indexes
************************************************/
.bottom_indexes {
  margin: 10px auto; }
  .bottom_indexes .widget_tag_cloud,
  .bottom_indexes .widget_categories {
    display: flex;
    padding: 0;
    margin: 30px 0;
    text-align: left; }
    .bottom_indexes .widget_tag_cloud h3,
    .bottom_indexes .widget_categories h3 {
      border-left: solid 5px #333;
      background-color: #EFEFEF;
      color: #333;
      font-size: 18px;
      font-weight: normal;
      text-align: center;
      white-space: nowrap;
      margin: 0;
      padding: 10px; }
  .bottom_indexes .widget_tag_cloud .tagcloud {
    padding-left: 10px; }
    .bottom_indexes .widget_tag_cloud .tagcloud a {
      background-color: #EFEFEF;
      color: #886353;
      padding: 3px 5px;
      border-radius: 10px;
      margin-right: 5px;
      margin-bottom: 5px;
      display: inline-block; }
    .bottom_indexes .widget_tag_cloud .tagcloud a:hover {
      text-decoration: none;
      background-color: #EFEFEF;
      color: #4C666A; }
  .bottom_indexes .widget_categories ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px; }
    .bottom_indexes .widget_categories ul li {
      flex-basis: 33.333%; }

@media screen and (max-width: 768px) {
  .bottom_indexes .widget_tag_cloud,
  .bottom_indexes .widget_categories {
    display: block; }
    .bottom_indexes .widget_tag_cloud h3,
    .bottom_indexes .widget_categories h3 {
      background-color: #333;
      color: #FFF;
      width: calc(100% - 30px);
      border-left: solid 5px #CCC;
      border-right: solid 5px #CCC;
      margin-bottom: 10px; }
  .bottom_indexes .widget_categories ul li {
    font-size: 0.8rem;
    flex-basis: 50%; } }
/************************************************
*	Footer
************************************************/
#footer {
  /*background  : url("../images/foot.gif") repeat-x;*/
  text-align: center;
  position: relative;
  line-height: 17px; }
  #footer p {
    color: #999;
    margin: 10px 0;
    padding-top: 13px; }
  #footer a:link, #footer a:visited, #footer a:hover, #footer a:active {
    color: #999; }

/************************************************
*	Search Form
************************************************/
#r_sidebar ul li.widget_search {
  background-color: #CCC;
  padding: 10px 5px; }
  #r_sidebar ul li.widget_search #searchform {
    margin: 0;
    padding: 0;
    overflow: hidden; }
  #r_sidebar ul li.widget_search #s {
    width: calc(100% - 60px);
    height: 20px;
    color: #333;
    font-size: 0.8rem;
    padding: 4px;
    margin: 0;
    border: solid 1px #333; }
  #r_sidebar ul li.widget_search #searchsubmit {
    width: 45px;
    background: #333;
    color: #FFF;
    font-size: 0.8rem;
    padding: 5px;
    border: solid 1px #333; }

/* hover card */
.hc-preview h2 {
  font-size: 0.85rem; }

.hc-refers h3 {
  font-weight: bold;
  font-size: 0.75rem;
  margin: 16px 0 4px; }

.hc-refers p {
  margin: 4px 0 8px; }

.hc-lines {
  margin: 2px 2px;
  line-height: 1.6; }

.hc-lines:last-child {
  margin-bottom: 8px; }

.hc-details-open-left .hc-refers {
  text-align: left; }

/*# sourceMappingURL=style.css.map */
