<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="distribution" content="global">
    <meta name="robots" content="follow, all">
    <meta name="language" content="en, sv">

    <title> {{self.title()}} : ライフサイエンス 新着論文レビュー</title>

    <link rel="icon" type="image/x-icon" href="../images/favicon_64_shin.ico">
    <link rel="icon" type="image/vnd.microsoft.icon" href="../images/favicon_64_shin.ico">
    <link rel="apple-touch-icon" href="./images/apple-touch-icon.png" sizes="180x180">
    <link rel="manifest" href="../favicons/site.webmanifest">
    <link rel="mask-icon" href="../favicons/safari-pinned-tab.svg" color="#2b5797">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="https://first.lifesciencedb.jp/feed">
    <link rel="alternate" type="text/xml" title="RSS .92" href="https://first.lifesciencedb.jp/feed/rss">
    <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="https://first.lifesciencedb.jp/feed/atom">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.1.0/css/drawer.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.1.0/js/drawer.min.js"></script>

    <link rel="stylesheet" id="style-maintenance-css" href="../css/style-maintenance.css" type="text/css" media="all">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.1.3/iscroll.min.js"></script>

    <link rel="stylesheet" id="toc-screen-css" href="./css/screen.min.css" type="text/css" media="all">

    <!-- for modal window -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
          type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
          type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>


    <link rel="stylesheet" type="text/css" href="../webfonts-css/fa-solid.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/print.css">
    <link rel="stylesheet" type="text/css" href="../css/card.css">

</head>

<body class="drawer drawer--left">


<!-- drawer menu -->

<nav class="drawer-nav">
    <div class="inner">
        <ul class="drawer-menu l_sidebarwidgeted">

            <li class="widget widget_search">
                <form id="searchform" class="searchform">
                    <label class="screen-reader-text">検索:</label>
                    <input type="text" ref="search_val" id="search_val" maxlength="20"/>
                    <input type="button" id="searchsubmit" value="検索"/>
                </form>
            </li>

            <drawer-journal></drawer-journal>
            <drawer-category></drawer-category>
            <drawer-date></drawer-date>

            <li class="drawer-nav-menu">
                <ul class="nav-menu">
                    <li class="page_item"><a href="../about">「新着論文レビュー」とは</a></li>
                    <li class="page_item"><a href="https://leading.lifesciencedb.jp/">領域融合レビュー</a></li>
                    <li class="page_item"><a href="../copyright">著作権・クレジット・ロゴについて</a></li>
                    <li class="page_item"><a href="../editor">編集人</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>


<div id="wrap">
    <div id="nav">
        <div class="nav-inner">
            <button type="button" class="drawer-toggle drawer-hamburger drawer-opener">
                <span class="drawer-opener-pc"><i class="fa fa-search"></i></span>
                <span class="drawer-hamburger-icon"></span>
            </button>
            <ul class="nav-menu" id="nav-menu">
                <li><a href="../">ホーム</a></li>
                <li class="page_item"><a href="../about">「新着論文レビュー」とは</a></li>
                <li class="page_item"><a href="https://leading.lifesciencedb.jp/">領域融合レビュー</a></li>
                <li class="page_item"><a href="../copyright">著作権・クレジット・ロゴについて</a></li>
                <li class="page_item"><a href="../editor">編集人</a></li>
                <li class="page_item"><a href="../link">DBCLSからの成果発信</a></li>
            </ul>
        </div>
    </div>

    <div id="masthead">
        <h1><a href="./"><img src="../images/logo_shin_yoko.png" height="153" width="515" alt="ライフサイエンス新着論文レビュー" title="ライフサイエンス新着論文レビュー"></a></h1>
    </div>

    <div id="content">

        <div id="contentleft">
            <div class="article">
                <h1><a href="{% block fa_url %}{% endblock %}" rel="bookmark">{% block title %}{% endblock %}</a></h1>
                <div class="article_thumb">{% block date %}{% endblock %}</div>

                <div class="article_thumb">
                    {% block post_content %}{% endblock %}
                </div>

            </div>
        </div>

        <!-- begin r_sidebar -->

        <div id="r_sidebar">
            <ul class="l_sidebarwidgeted">


                <li class="widget widget_text"><h2 class="widgettitle">このサイトについて</h2>
                    <div class="textwidget">
                        <a href="https://dbcls.rois.ac.jp/" class="img_item">
                            <img alt="DBCLS" style="border-width:0"
                                 height="71" width="158"
                                 src="../images/logo_en_c.png"
                                 class="logo">
                        </a>
                        <p class="about_text">
                            トップジャーナルに掲載された日本人を著者とする生命科学分野の論文について，
                            論文の著者自身の執筆による日本語のレビューを，だれでも自由に閲覧・利用できるよう，いち早く公開します．
                            くわしくは、 「新着論文レビュー」とは をご覧ください．
                        </p>
                        <a href="https://togotv.dbcls.jp/20110301.html#p01" class="img_item">
                            <img src="../images/togotv20110301_small-1.png">
                        </a>
                        <div class="caption">
                            <a href="https://togotv.dbcls.jp/">統合TV</a>にて<a href="https://togotv.dbcls.jp/20110301.html#p01">解説動画</a>を公開しました
                        </div>
                        <a href="http://leading.lifesciencedb.jp/"><img src="../images/logo_riyo_yoko_400.png" width="200"></a>

                    </div>
                </li>
                <li>
                    <h2 class="widgettitle">概念とその関連性による検索 (β版)</h2>
                    <div class="textwidget"><p><a href="http://navi.first.lifesciencedb.jp/stanza/top#A">生体構造</a><br/>
                        <a href="http://navi.first.lifesciencedb.jp/stanza/top#B">生物種</a><br/>
                        <a href="http://navi.first.lifesciencedb.jp/stanza/top#C">疾患</a><br/>
                        <a href="http://navi.first.lifesciencedb.jp/stanza/top#D">化合物または薬</a><br/>
                        <a href="http://navi.first.lifesciencedb.jp/stanza/top#E">分析、診断、治療に関する技術または装置</a><br/>
                        <a href="http://navi.first.lifesciencedb.jp/stanza/top#F">精神医学または心理学</a><br/>
                        <a href="http://navi.first.lifesciencedb.jp/stanza/top#G">現象または作用</a><br/>
                        <a href="http://navi.first.lifesciencedb.jp/stanza/top#H">分野もしくは職業</a><br/>
                        <a href="http://navi.first.lifesciencedb.jp/stanza/top#I">人類学、教育、社会または社会現象</a><br/>
                        <a href="http://navi.first.lifesciencedb.jp/stanza/top#L">情報科学</a><br/>
                        <a href="http://navi.first.lifesciencedb.jp/stanza/top#N">保健</a></p>
                    </div>
                </li>
                <li>
                    <!-- Hovercardに表示するDB選択 -->
                    <h2>関連記事を表示</h2>
                    <div>
                        <form>
                            <div class="selected_list"><input type="checkbox" id="prop" class="selected_db" name="targetdb" value="refex" checked> キーワードをアノテーションする</div>
                        </form>
                    </div>

                </li>

            </ul>

        </div>

        <!-- end r_sidebar -->

    </div>

    <!-- The main column ends  -->

</div>
<!-- end wrap -->
<div style="clear:both;"></div>
<div style="clear:both;"></div>

<!-- begin footer -->
<div class="bottom_indexes"></div>


<div id="footer">
    <ul id="footer-navi">
        <li><a href="../">トップにもどる</a></li>
        <li><a href="https://dbcls.rois.ac.jp/">DBCLS</a></li>
        <li><a href="https://biosciencedbc.jp/">NBDC</a></li>
        <li><a href="https://dbcls.rois.ac.jp/policy.html">サイトポリシー</a></li>
        <li><a href="https://dbcls.rois.ac.jp/contact.html">お問い合わせ</a></li>
    </ul>
</div>


<!-- .modal-profile -->
<div class="modal fade modal-profile" tabindex="-1" role="dialog" aria-labelledby="modalProfile" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <span class="modal-title"></span>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- //.modal-profile -->


<script type="text/javascript" src="../js/jquery.hovercard.js"></script>
<script type="text/javascript" src="../js/config.js"></script>
<script src="../js/card.js"></script>
<script src="https://cdn.jsdelivr.net/npm/riot@3.7/riot+compiler.min.js"></script>
<script type="riot/tag" src="../js/drawer-category.tag"></script>
<script type="riot/tag" src="../js/drawer-journal.tag"></script>
<script type="riot/tag" src="../js/drawer-date.tag"></script>


<script type="text/javascript">
    //
    Array.prototype.uni = function () {
        return [...new Set(this)]
    };

    function selected_db() {
        var dbs = [];
        $('.selected_db:checked').each(function () {
            dbs.push($(this).val());
        });
        dbs = dbs.uni();
        var selected = cards.filter(function (e, i, a) {
            return dbs.includes(e.dbname)
        });
        return selected
    }

    $(document).ready(function () {
        $('#search_val').keypress(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault()
                var url = "./search.htm?val=" + $("#search_val").val();
                location.href = url
            }
        });
        $("#searchsubmit").click(function () {
            var url = "./search.htm?val=" + $("#search_val").val();
            location.href = url
        });

        $('.drawer').drawer();
        $('.drawer').on('drawer.opened', function () {
            $('body,html').css({"overflow": "hidden", "height": "100%"});
        });
        $('.drawer').on('drawer.closed', function () {
            $('body,html').css({"overflow": "visible", "height": "auto"});
        });

        riot.compile(function () {
            tags = riot.mount("*");
        });

        $('a.highslide').click(function (event) {　// a.thumb内のhtmlをmodal-bodyに挿入
            event.preventDefault();
            var content = $('.modal-body'); //.modal-body初期化
            content.empty();
            var title = $(this).attr("title");
            $('.modal-title').html(title); // h3を定義
            content.html($(this).html());　//.modal-bodyにthisを挿入
            $('.modal-body img').width("50%"); //modalのimageのサイズを変更
            $(".modal-profile").modal({show: true});　//modalを表示
        });

        // キーワドのアノテーションon,off切り替え
        $(document).on('change','#prop', function () {
            var prop = $('#prop').prop('checked');
            if(!prop){
                $('.anno').css({'color': '#333333', 'font-weight': 'normal'});
                $(".hc-details:visible").each(function (e) {
                    $(this).closest(".hc-preview").find(".hc-details").eq(0).stop(true, true).fadeOut(300, function () {
                        $(this).closest(".hc-preview").css("z-index", "0");
                    });
                });
            }else{
                $('.anno').css({'color': '#337ab7', 'font-weight': 'bold'});
            }
        })

    });


</script>

<script type="text/javascript"
        src="https://dbcls.rois.ac.jp/DBCLS-common-header-footer/common-header-and-footer/script/common-header-and-footer.js"
        style="display: block" id="common-header-and-footer__script" data-page-type="2.1"></script>

</body>
</html>
