{% extends "fa_detail_base_anno.html" %}
{% block fa_url %}{{ item.FA_URL }}{% endblock %}
{% block title %}{{ item.Title }}{% endblock %}
{% block taggedtitle %}{{ item.taggedTitle }}{% endblock %}
{% block date %}{{ item.公開日 }}{% endblock %}
{% block post_content %}{{ item.Post_Content }}{% endblock %}
{% block original_author%}{{ item.OriginalArticle_Authors }}{% endblock %}
{% block fig1_caption %}{{ item.Fig1_caption }}{% endblock %}
{% block fig2_caption %}{{ item.Fig2_caption }}{% endblock %}
{% block fig1_jpg %}{{ item.Fig1_jpg }}{% endblock %}
{% block fig2_jpg %}{{ item.Fig2_jpg }}{% endblock %}
{% block uniprotids %}{{ item.uniprotids}}{% endblock %}