# Created by .ignore support plugin (hsz.mobi)
html/*.html
html/*.htm
html/webfonts
html/webfonts-css
html/uploads
conf/s3_fullacess_confs
conf/FirstAuthor-30b6c7309175.json
conf/aws_iam_manage_passwd.txt

.idea
.DS_Store

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
