.anno {
    color: #2e80ce;
    font-weight: bold;
}
.hc-preview {
    display: inline-block;
    font-style: normal;
}
.hc-details {
    position: absolute;
    width: auto;
    max-width: 400px;
    min-width: 400px;
    padding-top: 13px;
    z-index: 3;
    white-space: normal;
    margin: 16px 0 0 -12px;
}
.hc-popup-panel {
    -webkit-box-shadow: 0 1px 20px #999;
    box-shadow: 0 1px 20px #999;
    background-color: #fff;
}

#content .hc-popup-panel .hc-title {
    margin: 0;
    padding: 3px 15px;
    line-height: 2.2rem;
    height: 40px;
    background-color: #333;
    color: #fff;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*
.hc-popup-panel .hc-title:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -1px;
    right: 78%;
    left: 10%;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #333;
}
*/
.hc-popup-panel .hc-close {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    font-size: 1.5rem;
    padding: 15px 10px;
}
.hc-popup-panel .hc-refers {
    padding: 15px 12px 20px;
}
@media screen and (max-width: 900px) {
    .hc-details {
        width: auto;
        max-width: 400px;
        min-width: 280px;
    }
}
@media screen and (max-width: 767px) {
    .hc-details.hc-mobile {
        position: fixed;
        width: auto;
        max-width: 100%;
        min-width: 100%;
        padding-top: 0;
        z-index: 3;
        white-space: normal;
        margin: 0 auto;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
    }
    /*
    .hc-mobile .hc-popup-panel .hc-title:before {
        content: '';
        display: none;
    }
    */
    .hc-mobile .hc-popup-panel .hc-close {
        padding: 3px 10px;
    }

}


#content .hc-popup-panel .hc-refers h3 {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", verdana, sans-serif;
    font-weight: normal;
    /*font-size: 0.9rem;*/
    font-size: 14px;
    margin: 6px 0;
    padding: 0;
    line-height: 1.6;
}
#content .hc-popup-panel .hc-lines {
    margin: 0;
    line-height: 1.6;
}
#content .hc-popup-panel .hc-lines h3 a {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", verdana, sans-serif;
    font-weight: normal;
    font-size: 14px;
    margin: 6px 0;
    padding: 0;
    line-height: 1.6;
}
#content .hc-popup-panel .hc-lines a {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", verdana, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #2e80ce;
    text-decoration: none;
    display: flex;
    margin: 6px 0;
    padding: 0;
    line-height: 1.6;
}
#content .hc-popup-panel .hc-lines a:hover {
    text-decoration: none;
}

#content .hc-popup-panel .hc-lines a:before {
    content: '\f0c1';
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    padding: 0 2px;
}