/************************************************
*	Comments
************************************************/
#commentblock {
  background: #EFEFEF;
  color: #000000;
  padding: 20px 20px 10px 20px;
  margin: 0px 0px 0px 0px;
  border-top: 2px solid #4C666A;
  border-bottom: 1px solid #4C666A; }
  #commentblock ol {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0px; }

.commentdate {
  font-size: 12px;
  padding-left: 0px; }

#commentlist li p {
  margin-bottom: 8px;
  padding: 0px; }

.commentname {
  color: #333333;
  margin: 0px;
  padding: 5px 5px 5px 0px; }

.commentinfo {
  clear: both; }

.commenttext {
  margin: 25px 20px 20px 0px;
  padding: 10px 10px 0px 10px;
  background: #F9F9F9;
  border: 1px solid #DEDEDE;
  font-style: normal; }

.commenttext-admin {
  clear: both;
  margin: 3px 0px 10px 0px;
  padding: 20px 10px 5px 10px;
  background: #FFFFFF url("../images/comment.gif") no-repeat top; }

#commentsformheader {
  padding-left: 0px; }

#commentsform {
  text-align: center;
  margin: 0px;
  padding: 0px; }
  #commentsform form {
    text-align: left;
    margin: 0px; }
  #commentsform p {
    margin: 0px; }
  #commentsform form textarea {
    width: 99%; }

p.comments_link img {
  margin: 0px;
  padding: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none; }

img.avatar {
  float: right;
  margin-right: 20px;
  border: 1px solid #4C666A; }

.awaiting {
  color: #886353; }

.auth-name {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  color: #000; }

.auth-time {
  font-size: 10px;
  color: #616161;
  font-style: italic; }

#comments, #respond {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal; }

/************************************************
*	Wordpress Suggestions						*
************************************************/
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

.wp-caption {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 4px;
  margin: 10px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .wp-caption img {
    margin: 0;
    padding: 0;
    border: 0 none; }

.wp-caption-dd {
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0; }

/** **/
div.bt-links strong {
  color: #aab; }
div.bt-links span.journal {
  font-style: italic; }

label.screen-reader-text {
  display: none; }

span.ti, span.au, span.so {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  color: #000;
  line-height: normal; }
span.ti {
  font-weight: bold; }

div.reference {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 11px;
  color: #000;
  line-height: normal;
  background: #FcFcFC;
  border: 1px solid #DDDCDC;
  margin: 0px 0px 10px 0px;
  padding: 10px 10px 10px 15px; }
  div.reference span.ti {
    font-weight: bold; }
  div.reference div.linkout {
    display: inline;
    float: right;
    color: #aaa; }
  div.reference span.linkout {
    color: #88635D;
    margin-left: 6px;
    margin-right: 6px; }
div.au-profile {
  font-size: 13px;
  background: #FcFcFC;
  border: 1px solid #DDDCDC;
  margin: 0px 0px 10px 0px;
  padding: 0px 20px 10px 20px; }
  div.au-profile span.author {
    font-weight: bold; }

#contentleft h2 {
  color: #444444;
  font-size: 20px;
  font-weight: bold;
  padding: 0px 0px 5px 0px;
  margin: 25px 0px 5px 0px;
  border-bottom: 1px dashed #4C666A; }

iframe.twitter-share-button, iframe.twitter-count-vertical {
  float: right;
  margin-left: 1em;
  margein-bottom: 6px; }

/** hs_figure at function.php **/
div.hs-figure {
  float: left;
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  width: 100%;
  /** height: 162px; **/
  margin: 0px 10px 20px 0px; }
div.hs-figure-box {
  float: left;
  background-color: #ccc;
  border: 1px solid #ccc;
  width: 200px; }
div.hs-figure-caption {
  padding: 10px 10px 10px 210px;
  vertical-align: bottom; }
div.highslide-caption {
  text-align: left; }

li.cat-item a {
  font-style: italic; }

/************************************************
*	written in html file
************************************************/
img.wp-smiley, img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important; }

.MultiBoxClose, .MultiBoxPrevious, .MultiBoxNext, .MultiBoxNextDisabled, .MultiBoxPreviousDisabled {
  behavior: url(http://first.lifesciencedb.jp/wp-content/plugins/wordpress-multibox-plugin/iepng/iepngfix.htc); }

.test {
  display: inline-block; }

/*-- added by the wordpress multibox plugin ---*/
/*! Flickity v2.0.2
http://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative; }
  .flickity-enabled:focus {
    outline: 0; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab; }
    .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
      cursor: -webkit-grabbing;
      cursor: grabbing; }

.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: #fff;
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  .flickity-prev-next-button:hover {
    background: #fff; }
  .flickity-prev-next-button:focus {
    outline: 0;
    box-shadow: 0 0 0 5px #09F; }
  .flickity-prev-next-button:active {
    opacity: 0.6; }
  .flickity-prev-next-button.previous {
    left: 10px; }
  .flickity-prev-next-button.next {
    right: 10px; }

.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button:disabled {
  opacity: .3;
  cursor: auto; }
.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }
.flickity-prev-next-button .arrow {
  fill: #333; }

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: .25;
  cursor: pointer; }
  .flickity-page-dots .dot.is-selected {
    opacity: 1; }

/*data-context="foundation-slideout-css"*/
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: auto;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none; }
  .slideout-menu.pushit-right {
    left: auto;
    right: 0; }

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform; }

.slideout-open {
  overflow: hidden; }
  .slideout-open .slideout-panel, .slideout-open body {
    overflow: hidden; }
  .slideout-open .slideout-menu {
    display: block; }

.pushit {
  display: none; }

/*!-- BEGIN: WP Social Bookmarking Light HEAD --*/
.wp_social_bookmarking_light {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important; }
  .wp_social_bookmarking_light div {
    float: left !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 5px 0px 0 !important;
    height: 23px !important;
    text-indent: 0 !important; }
  .wp_social_bookmarking_light img {
    border: 0 !important;
    padding: 0;
    margin: 0;
    vertical-align: top !important; }

.wp_social_bookmarking_light_clear {
  clear: both !important; }

.wsbl_twitter {
  width: 100px; }

.ios7.web-app-mode.has-fixed header {
  background-color: rgba(3, 122, 221, 0.88); }

.highslide img {
  cursor: url(http://first.lifesciencedb.jp/wp-content/plugins/slidezoom/highslide/graphics/zoomin.cur), pointer !important; }

.highslide-viewport-size {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

/* id="style-1-cropbar-clipper" */
/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
  top: 18px !important;
  left: 50% !important;
  margin-left: -100px !important;
  width: 200px !important;
  border: 2px rgba(255, 255, 255, 0.38) solid !important;
  border-radius: 4px !important; }
  .en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important; }

/* fb */
.fb_hidden {
  position: absolute;
  top: -10000px;
  z-index: 10001; }

.fb_reposition {
  overflow: hidden;
  position: relative; }

.fb_invisible {
  display: none; }

.fb_reset {
  background: none;
  border: 0;
  border-spacing: 0;
  color: #000;
  cursor: auto;
  direction: ltr;
  font-family: "lucida grande", tahoma, verdana, arial, "hiragino kaku gothic pro", meiryo, "ms pgothic", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  word-spacing: normal; }
  .fb_reset > div {
    overflow: hidden; }

.fb_link img {
  border: none; }

@keyframes fb_transform {
  from {
    opacity: 0;
    transform: scale(0.95); }
  to {
    opacity: 1;
    transform: scale(1); } }
.fb_animate {
  animation: fb_transform 0.3s forwards; }

.fb_dialog {
  background: rgba(82, 82, 82, 0.7);
  position: absolute;
  top: -10000px;
  z-index: 10001; }

.fb_reset .fb_dialog_legacy {
  overflow: visible; }

.fb_dialog_advanced {
  padding: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; }

.fb_dialog_content {
  background: #fff;
  color: #333; }

.fb_dialog_close_icon {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 15px;
  position: absolute;
  right: 18px;
  top: 17px;
  width: 15px; }

.fb_dialog_mobile .fb_dialog_close_icon {
  top: 5px;
  left: 5px;
  right: auto; }

.fb_dialog_padding {
  background-color: transparent;
  position: absolute;
  width: 1px;
  z-index: -1; }

.fb_dialog_close_icon:hover {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent; }
.fb_dialog_close_icon:active {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent; }

.fb_dialog_loader {
  background-color: #f6f7f9;
  border: 1px solid #606060;
  font-size: 24px;
  padding: 20px; }

.fb_dialog_top_left, .fb_dialog_top_right, .fb_dialog_bottom_left, .fb_dialog_bottom_right {
  height: 10px;
  width: 10px;
  overflow: hidden;
  position: absolute; }

.fb_dialog_top_left {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;
  left: -10px;
  top: -10px; }

.fb_dialog_top_right {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;
  right: -10px;
  top: -10px; }

.fb_dialog_bottom_left {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;
  bottom: -10px;
  left: -10px; }

.fb_dialog_bottom_right {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;
  right: -10px;
  bottom: -10px; }

.fb_dialog_vert_left, .fb_dialog_vert_right, .fb_dialog_horiz_top, .fb_dialog_horiz_bottom {
  position: absolute;
  background: #525252;
  filter: alpha(opacity=70);
  opacity: 0.7; }

.fb_dialog_vert_left, .fb_dialog_vert_right {
  width: 10px;
  height: 100%; }

.fb_dialog_vert_left {
  margin-left: -10px; }

.fb_dialog_vert_right {
  right: 0;
  margin-right: -10px; }

.fb_dialog_horiz_top, .fb_dialog_horiz_bottom {
  width: 100%;
  height: 10px; }

.fb_dialog_horiz_top {
  margin-top: -10px; }

.fb_dialog_horiz_bottom {
  bottom: 0;
  margin-bottom: -10px; }

.fb_dialog_iframe {
  line-height: 0; }

.fb_dialog_content .dialog_title {
  background: #6d84b4;
  border: 1px solid #365899;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin: 0; }
  .fb_dialog_content .dialog_title > span {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
    float: left;
    padding: 5px 0 7px 26px; }

body.fb_hidden {
  -webkit-transform: none;
  height: 100%;
  margin: 0;
  overflow: visible;
  position: absolute;
  top: -10000px;
  left: 0;
  width: 100%; }

.fb_dialog.fb_dialog_mobile.loading {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 10001; }
  .fb_dialog.fb_dialog_mobile.loading.centered {
    width: auto;
    height: auto;
    min-height: initial;
    min-width: initial;
    background: none; }
    .fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
      width: 100%; }
    .fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
      background: none; }

.loading.centered #fb_dialog_loader_close {
  color: #fff;
  display: block;
  padding-top: 20px;
  clear: both;
  font-size: 18px; }

#fb-root #fb_dialog_ipad_overlay {
  background: rgba(0, 0, 0, 0.45);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  z-index: 10000; }
  #fb-root #fb_dialog_ipad_overlay.hidden {
    display: none; }

.fb_dialog.fb_dialog_mobile.loading iframe {
  visibility: hidden; }

.fb_dialog_content .dialog_header {
  -webkit-box-shadow: white 0 1px 1px -1px inset;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));
  border-bottom: 1px solid;
  border-color: #1d4088;
  color: #fff;
  font: 14px Helvetica, sans-serif;
  font-weight: bold;
  text-overflow: ellipsis;
  text-shadow: rgba(0, 30, 84, 0.29688) 0 -1px 0;
  vertical-align: middle;
  white-space: nowrap; }
  .fb_dialog_content .dialog_header table {
    -webkit-font-smoothing: subpixel-antialiased;
    height: 43px;
    width: 100%; }
  .fb_dialog_content .dialog_header td.header_left {
    font-size: 12px;
    padding-left: 5px;
    vertical-align: middle;
    width: 60px; }
  .fb_dialog_content .dialog_header td.header_right {
    font-size: 12px;
    padding-right: 5px;
    vertical-align: middle;
    width: 60px; }
.fb_dialog_content .touchable_button {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(0.5, #355492), to(#2A4887));
  border: 1px solid #29487d;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.11719) 0 1px 1px inset, rgba(255, 255, 255, 0.16797) 0 1px 0;
  display: inline-block;
  margin-top: 3px;
  max-width: 85px;
  line-height: 18px;
  padding: 4px 12px;
  position: relative; }
.fb_dialog_content .dialog_header .touchable_button input {
  border: none;
  background: none;
  color: #fff;
  font: 12px Helvetica, sans-serif;
  font-weight: bold;
  margin: 2px -12px;
  padding: 2px 6px 3px 6px;
  text-shadow: rgba(0, 30, 84, 0.29688) 0 -1px 0; }
.fb_dialog_content .dialog_header .header_center {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  vertical-align: middle; }
.fb_dialog_content .dialog_content {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
  border: 1px solid #555;
  border-bottom: 0;
  border-top: 0;
  height: 150px; }
.fb_dialog_content .dialog_footer {
  background: #f6f7f9;
  border: 1px solid #555;
  border-top-color: #ccc;
  height: 40px; }

#fb_dialog_loader_close {
  float: left; }

.fb_dialog.fb_dialog_mobile .fb_dialog_close_button {
  text-shadow: rgba(0, 30, 84, 0.29688) 0 -1px 0; }
.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
  visibility: hidden; }

#fb_dialog_loader_spinner {
  animation: rotateSpinner 1.2s linear infinite;
  background-color: transparent;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 24px;
  width: 24px; }

@keyframes rotateSpinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.fb_iframe_widget {
  display: inline-block;
  position: relative; }
  .fb_iframe_widget span {
    display: inline-block;
    position: relative;
    text-align: justify; }
  .fb_iframe_widget iframe {
    position: absolute; }

.fb_iframe_widget_fluid_desktop {
  max-width: 100%; }
  .fb_iframe_widget_fluid_desktop span {
    max-width: 100%; }
  .fb_iframe_widget_fluid_desktop iframe {
    max-width: 100%;
    min-width: 220px;
    position: relative; }

.fb_iframe_widget_lift {
  z-index: 1; }

.fb_hide_iframes iframe {
  position: relative;
  left: -10000px; }

.fb_iframe_widget_loader {
  position: relative;
  display: inline-block; }

.fb_iframe_widget_fluid {
  display: inline; }
  .fb_iframe_widget_fluid span {
    width: 100%; }

.fb_iframe_widget_loader iframe {
  min-height: 32px;
  z-index: 2;
  zoom: 1; }
.fb_iframe_widget_loader .FB_Loader {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat;
  height: 32px;
  width: 32px;
  margin-left: -16px;
  position: absolute;
  left: 50%;
  z-index: 4; }

.fb_invisible_flow {
  display: inherit;
  height: 0;
  overflow-x: hidden;
  width: 0; }

.fb_mobile_overlay_active {
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%; }

.fb_shrink_active {
  opacity: 1;
  transform: scale(1, 1);
  transition-duration: 200ms;
  transition-timing-function: ease-out; }
  .fb_shrink_active:active {
    opacity: .5;
    transform: scale(0.75, 0.75); }

/* keyword index */
.utcw-9n6g0n6 {
  word-wrap: break-word; }
  .utcw-9n6g0n6 span, .utcw-9n6g0n6 a {
    border-width: 0px;
    white-space: nowrap; }
  .utcw-9n6g0n6 span:hover, .utcw-9n6g0n6 a:hover {
    border-width: 0px; }

/*# sourceMappingURL=custom.css.map */
