@charset "UTF-8";
html {
  overflow-y: scroll;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary_list {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

svg:not(:root) {
  overflow: hidden; }

html {
  overflow-y: scroll;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary_list {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

svg:not(:root) {
  overflow: hidden; }

body {
  color: #333;
  text-align: center;
  font-size: 14px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", verdana, sans-serif;
  line-height: 1.5em;
  margin: 0 auto;
  padding: 0; }

#wrap {
  background: white;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0; }

/************************************************
*	Hyperlinks
************************************************/
a:link, a:visited {
  color: #886353;
  text-decoration: none;
  outline: none; }
a:hover, a:active {
  color: #4C666A;
  text-decoration: underline;
  outline: none; }

/************************************************
*	Navbar
************************************************/
#nav {
  text-align: right;
  padding: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  line-height: 3rem;
  width: 100%; }
#nav .nav-inner {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}
#nav .nav-inner button {
  position: relative;
  top: 0;
  display: inline-block;
  float: left;
  height: 48px;
}
.drawer--left.drawer-open .drawer-hamburger {
  left: calc(16.25rem - (100vw - 1024px)/2);
}
.drawer--left .drawer-hamburger.drawer-opener {
  padding: 0 10px;
  font-size: 1.2rem;
  color: #fff;
  background: #019CE5;
}
.drawer-hamburger-icon {
  display: none;
}
  #nav ul {
    margin: auto;
    padding: 0; }
  #nav li {
    display: inline;
    font-weight: bold;
    padding: 0 5px 0 10px; }
  #nav a {
    font-size: 12px; }
    #nav a:link, #nav a:visited {
      color: #333;
      text-decoration: none; }
    #nav a:hover, #nav a:active {
      color: #333;
      text-decoration: underline; }

@media screen and (max-width: 1024px) {
  #nav ul {
    margin: 0 10px; }
  .drawer--left.drawer-open .drawer-hamburger {
    left: 16.25rem;  }}
@media screen and (max-width: 667px) {
  #nav .nav-inner button {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    float: right;
    padding: 13px 10px 23px;
  }
  .drawer--left .drawer-hamburger.drawer-opener {
    display: none;
    padding: 0 10px;
    font-size: 1.2rem;
    color: #fff;
    background: inherit;
  }
  .drawer--left .drawer-hamburger.drawer-opener .drawer-opener-pc {
    display: none;
  }
  .drawer-hamburger-icon {
    display: block;
  }
  .drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
    background: #fff;
  }
  #nav .nav-menu {
    display: none } }
/************************************************
*	Masthead
************************************************/
#masthead {
  width: 100%;
  margin: 0 auto;
  padding: 0; }
  #masthead h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.2rem;
    font-weight: normal;
    padding: 20px;
    margin: 0;}
  #masthead h3 {
    font-size: 0;
    background: url("../images/logo.png") no-repeat;
    background-size: contain;
    background-position: top center;
    height: 94px;
    width: 310px;
    margin: 0 auto;
    padding: 0 0 10px;
    cursor: pointer; }
  #masthead a:link, #masthead a:visited {
    color: #FFF;
    text-decoration: none; }
  #masthead a:hover, #masthead a:active {
    color: #FFF;
    text-decoration: none; }

@media screen and (max-width: 667px) {
  #masthead {
    text-align: left;
  }
  #masthead h1 {
    font-size: 0.8rem;
    padding: 10px;  }
  #masthead h3 {
    height: 65px;
    width: 210px;
    margin: 0 10px;} }
/************************************************
*	base width
************************************************/
#content,
#content_top,
.bottom_indexes,
#footer {
  background: #FFF;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0; }
#content.content_top {
  max-width: none;  }
@media screen and (max-width: 768px) {
  #content,
  .bottom_indexes,
  #footer {
    max-width: 748px; } }
@media screen and (max-width: 667px) {
  #content,
  .bottom_indexes,
  #footer {
    max-width: 647px; } }
/************************************************
*	Content
************************************************/
summary_list {
  background: #FFFFFF;
  position: relative;
  top: -21px;
  list-style: none;
  cursor: default;
  outline: none;
}
summary_list:active {
  outline: none;
}
#content {
  padding: 0 10px;
  width: auto;
}
#content p {
  padding: 0 0 15px 0;
  margin: 0;
  line-height: 1.25rem;
  font-size: 12px; }
#content h1 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  margin: 42px 0 0;
  padding-left: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.33;
  border-left: solid 5px #F40000;
  min-height: 69px; }
  #content h1 a {
    color: #333;
    text-decoration: none; }
    #content h1 a:hover {
      color: #999;
      text-decoration: none; }
#content p img {
  float: left;
  border: none;
  margin-right: 15px;
  margin-bottom: 10px;
  padding-top: 7px; }
#content h2 {
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  padding: 20px 0 5px 0;
  margin: 0 0 5px;
  line-height: 1;
  border-bottom: dashed 1px #999; }
#content h3 {
  color: #333;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  margin: 25px 0 0 0;
  padding: 10px 0; }
#content img.wp-smiley, #content img.wp-wink {
  float: none;
  border: none;
  padding: 0;
  margin: 0; }

#contentleft {
  float: left;
  width: 70%;
  margin: 0;
  padding: 0;
  text-align: left; }
  #contentleft .autopagerize_page_element {
    display: flex;
    flex-wrap: wrap; }
  #contentleft .article {
    flex-basis: 30%;
    margin-right: 5%; }
  #contentleft .article_thumb {
    position: relative;
    margin-left: 2px;
    padding-left: 10px;
    padding-bottom: 8px;
    border-left: solid 1px #999; }
  #contentleft ol {
    margin: 0 0 0 20px;
    padding: 0 0 10px; }
    #contentleft ol li {
      margin: 0 0 6px 20px;
      padding: 0;
      line-height: 1.2em; }
  #contentleft ul {
    margin: 0 0 0 20px;
    padding: 0 0 10px 0; }
    #contentleft ul li {
      margin: 0;
      padding: 0 0 0 18px; }
  #contentleft .single {
    margin: 42px 0 15px;
    padding: 20px 0 0 0; }
  #contentleft blockquote {
    margin: 0 25px 10px;
    padding: 0 25px 0 10px;
    background: #333;
    border-top: solid 1px #EFEFEF;
    border-bottom: solid 1px #EFEFEF; }
  #contentleft #content blockquote p {
    color: #FFF;
    margin: 0 0 10px 0;
    padding: 10px 0 0 0; }
  #contentleft .date {
    color: #A97965;
    font-family: Georgia, "Times New Roman", Times, serif; }
  #contentleft .bt-links {
    background: #EFEFEF;
    border: solid 1px #CCC;
    margin: 10px 0;
    padding: 10px 0 5px 15px;
    position: absolute;
    bottom: 0; }

#contentleft_main {
  width: 100%;
  min-height: 300px;
  margin: 0;
  padding: 0 0 10px 0;
  text-align: left; }
  #contentleft_main .autopagerize_page_element {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  #contentleft_main .autopagerize_page_element:after {
    content: '';
    width: 30%;
    display: block;
  }
  #contentleft_main .article {
    flex-basis: 30%;}
  #contentleft_main .article_thumb {
    padding: 0;
    margin: 0;}
  #contentleft_main ol {
    margin: 0 0 0 20px;
    padding: 0 0 10px; }
    #contentleft_main ol li {
      margin: 0 0 6px 20px;
      padding: 0;
      line-height: 1.2em; }
  #contentleft_main ul {
    margin: 0 0 0 20px;
    padding: 0 0 10px 0;

  }
    #contentleft_main ul li {
      margin: 0;
      padding:0;
      list-style: none;
      list-style-position: outside;
    }
  #contentleft_main .single {
    margin: 42px 0 15px;
    padding: 20px 0 0 0; }
  #contentleft_main blockquote {
    margin: 0 25px 10px;
    padding: 0 25px 0 10px;
    background: #333;
    border-top: solid 1px #EFEFEF;
    border-bottom: solid 1px #EFEFEF; }
  #contentleft_main #content blockquote p {
    color: #FFF;
    margin: 0 0 10px 0;
    padding: 10px 0 0 0; }
  #contentleft_main .date {
    color: #A97965;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 16px 0 8px; }
  #contentleft_main .bt-links {
    background: #EFEFEF;
    border: solid 1px #CCC;
    margin: 10px 0;
    padding: 10px 0 10px 15px;
    position: absolute;
    bottom: 0;
    font-size: 11px; }

@media screen and (min-width: 900px) {
  #contentleft_main {
    max-width: 1024px;
    margin: auto; } }
@media screen and (max-width: 900px) {
  #contentleft_main {
    margin: auto; }}
@media screen and (max-width: 768px) {
  #contentleft_main {
    max-width: 538px; } }
@media screen and (max-width: 667px) {
  #contentleft {
    float: none;
    margin: 0;
    padding: 20px 0;
    width: auto;  }
  #contentleft .article {
    margin-right: 0; }
  #contentleft .article h1 {
    margin-top: 24px; }
  #contentleft_main {
    float: none; }
  #contentleft_main .article {
    flex-basis: 100%; } }
/************************************************
*	Content article style
************************************************/
div.bt-links strong {
  color: #aab; }
div.bt-links span.journal {
  font-style: italic; }
label.screen-reader-text {
  display: none; }
span.ti, span.au, span.so {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  color: #000;
  line-height: normal; }
span.ti {
  font-weight: bold; }
div.reference {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 11px;
  color: #000;
  line-height: normal;
  background: #FcFcFC;
  border: 1px solid #DDDCDC;
  margin: 0px 0px 10px 0px;
  padding: 10px 10px 10px 15px; }
div.reference span.ti {
  font-weight: bold; }
div.reference div.linkout {
  display: inline;
  float: right;
  color: #aaa; }
div.reference span.linkout {
  color: #88635D;
  margin-left: 6px;
  margin-right: 6px; }
div.au-profile {
  font-size: 13px;
  background: #FcFcFC;
  border: 1px solid #DDDCDC;
  margin: 0px 0px 10px 0px;
  padding: 0px 20px 10px 20px; }
div.au-profile span.author {
  font-weight: bold; }

#contentleft h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 25px 0 5px;
  padding: 3px 10px;
  position: relative;
  left: -10px;
  width: calc(100% - 20px + 10px);
  line-height: 2rem;
  border-left: solid 5px #333;  }

iframe.twitter-share-button, iframe.twitter-count-vertical {
  float: right;
  margin-left: 1em;
  margin-bottom: 6px; }

/** hs_figure at function.php **/
div.hs-figure {
  float: left;
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  width: 100%;
  margin: 0px 10px 20px 0px; }
div.hs-figure-box {
  float: left;
  padding: 10px;
  width: 200px; }
div.hs-figure-caption {
  padding: 10px 10px 10px 220px;
  vertical-align: bottom; }
div.highslide-caption {
  text-align: left; }
li.cat-item a {
  font-style: italic; }

@media screen and (max-width: 667px) {
  div.hs-figure {
    padding: 10px;
    width: calc(100% - 20px);
  }
  div.hs-figure-box {
    float: none;
    background: none;
    border: none;
    width: 100%;
    padding: 0;
  }
  div.hs-figure-box img {
    width: 100%;
    margin: 10px auto;
  }
  div.hs-figure-caption {
    float: none;
    width: 100%;
    padding: 10px 0;
    font-size: .8rem;
  }
}

/************************************************
*	Right Sidebar
************************************************/
#r_sidebar {
  float: right;
  /*width: calc(30% - 2px);*/
  width: calc(25% - 2px);
  margin: 40px 0 0 0;
  padding: 0 0 10px 0;
  text-align: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 0.7rem; }
  #r_sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%; }
    #r_sidebar ul li {
      background: none;
      display: block;
      padding: 0;
      margin: 0; }
      #r_sidebar ul li ul {
        padding: 0 5px;
        width: calc(100% - 10px);
        text-align: left; }
        #r_sidebar ul li ul li {
          display: table-row; }
          #r_sidebar ul li ul li::before {
            display: table-cell;
            font-family: "Font Awesome 5 Free";
            content: '\f105';
            color: #870505;
            padding-right: 5px; }
      #r_sidebar ul li h2 {
        border-left: solid 5px #CCC;
        border-right: solid 5px #CCC;
        border-bottom: none;
        background-color: #333;
        color: #FFF;
        font-size: 0.8rem;
        font-weight: normal;
        line-height: 3rem;
        padding: 0;
        margin: 0 0 16px; }
      #r_sidebar ul li .textwidget {
        padding: 0 5px;
        width: calc(100% - 10px);
        text-align: left; }
        #r_sidebar ul li .textwidget .img_item {
          text-align: center;
          display: block;
        }
        #r_sidebar ul li .textwidget a.togotv img{
          width: 100%;
        }
        #r_sidebar ul li .textwidget .about_text {
          padding: 10px 0;
          line-height: 1.2rem; }
        #r_sidebar ul li .textwidget.text-center {
          text-align: center; }
      #r_sidebar ul li .relation_words_search_list a {
        background-color: #EFEFEF;
        color: #886353;
        padding: 3px 5px;
        border-radius: 10px;
        margin-right: 5px;
        margin-bottom: 5px;
        display: inline-block; }
      #r_sidebar ul li .relation_words_search_list a:hover {
        text-decoration: none;
        background-color: #EFEFEF;
        color: #4C666A; }
      #r_sidebar ul li select {
        border-radius: 5px;
        border: solid 1px #333;
        margin: 0 5px;
        padding: 10px;
        background: none transparent;
        vertical-align: middle;
        font-size: inherit;
        color: inherit;
        box-sizing: content-box;
        width: 80%;
        height: 30px; }
  #r_sidebar a:link, #r_sidebar a:visited {
    color: #333;
    text-decoration: none;
    outline: none; }
  #r_sidebar a:hover, #r_sidebar a:active {
    color: #333;
    text-decoration: underline;
    outline: none; }
  #r_sidebar p {
    padding: 3px 0 0 0;
    margin: 0;
    line-height: 1.462; }
  #r_sidebar li {
    list-style: none; }

@media screen and (max-width: 667px) {
  #r_sidebar {
    display: none; } }
/************************************************
*   bottom_indexes
************************************************/
.bottom_indexes {
  margin: 10px auto; }
  .bottom_indexes .widget_tag_cloud,
  .bottom_indexes .widget_categories {
    display: flex;
    padding: 0;
    margin: 30px 0;
    text-align: left; }
    .bottom_indexes .widget_tag_cloud h3,
    .bottom_indexes .widget_categories h3 {
      border-left: solid 5px #333;
      background-color: #EFEFEF;
      color: #333;
      font-size: 18px;
      font-weight: normal;
      text-align: center;
      white-space: nowrap;
      margin: 0;
      padding: 10px; }
  .bottom_indexes .widget_tag_cloud .tagcloud {
    padding-left: 10px; }
    .bottom_indexes .widget_tag_cloud .tagcloud a {
      background-color: #EFEFEF;
      color: #886353;
      padding: 3px 5px;
      border-radius: 10px;
      margin-right: 5px;
      margin-bottom: 5px;
      display: inline-block; }
    .bottom_indexes .widget_tag_cloud .tagcloud a:hover {
      text-decoration: none;
      background-color: #EFEFEF;
      color: #4C666A; }
  .bottom_indexes .widget_categories ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    list-style-type: none; }
    .bottom_indexes .widget_categories ul li {
      flex-basis: 33.333%; }

@media screen and (max-width: 768px) {
  .bottom_indexes .widget_tag_cloud,
  .bottom_indexes .widget_categories {
    display: block; }
    .bottom_indexes .widget_tag_cloud h3,
    .bottom_indexes .widget_categories h3 {
      background-color: #333;
      color: #FFF;
      width: calc(100% - 30px);
      border-left: solid 5px #CCC;
      border-right: solid 5px #CCC;
      margin-bottom: 10px; }
  .bottom_indexes .widget_categories ul li {
    font-size: 0.8rem;
    flex-basis: 50%; } }
/************************************************
*	Footer
************************************************/
#footer {
  /*background  : url("../images/foot.gif") repeat-x;*/
  text-align: center;
  position: relative;
  line-height: 17px; }
  #footer ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 20px auto;
    justify-content: center;
    flex-wrap: wrap; }
  #footer li {
    color: #999;
    padding: 0 10px;}
  #footer li:nth-child(n+2) {
    border-left: solid 1px #999;}
  #footer a:link, #footer a:visited, #footer a:hover, #footer a:active {
    color: #999; }
@media screen and (max-width: 667px) {
  #footer li {
    padding: 5px 10px;  }
  #footer li:nth-child(n+2) {
    border-left: 0;}
  #footer li:before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    padding-right: 5px;
  }
}
/************************************************
*	Search Form
************************************************/
#r_sidebar ul li.widget_search {
  /*background-color: #CCC;
  padding: 10px 5px;*/ }
  #r_sidebar ul li.widget_search #searchform {
    margin: 0;
    padding: 0;
    overflow: hidden; }
  #r_sidebar ul li.widget_search #s {
    width: calc(100% - 60px);
    height: 20px;
    color: #333;
    font-size: 0.8rem;
    padding: 4px;
    margin: 0;
    border: solid 1px #333; }
  #r_sidebar ul li.widget_search #searchsubmit {
    width: 45px;
    background: #333;
    color: #FFF;
    font-size: 0.8rem;
    padding: 5px;
    border: solid 1px #333; }

/* hover card */
#content .hc-preview h2 {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", verdana, sans-serif;
  font-size: 0.9rem; }
#content .hc-refers h3 {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", verdana, sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  margin: 12px 0 6px;
  padding: 0;
}
#content .article .hc-refers p {
  font-size: .8rem;
  line-height: 1.4rem;
  margin: 4px 0 8px; }
#content .hc-lines {
  margin: 2px 2px;
  line-height: 1.6; }
#content .hc-lines:last-child {
  margin-bottom: 8px; }
#content .hc-lines a:before {
  content: '\f0c1';
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  padding-left: 2px;
  padding-right: 4px;
}
#content .hc-details-open-left .hc-refers {
  text-align: left; }


/************************************************
*	Drawer
************************************************/
.drawer-nav ul li.widget_search {
  background-color: #CCC;
  padding: 8px 5px;
  margin-top: 24px;  }
  .drawer-nav ul li.widget_search #searchform {
    margin: 0;
    padding: 0;
    overflow: hidden; }
  .drawer-nav ul li.widget_search #s {
    width: calc(100% - 60px);
    height: 20px;
    color: #333;
    font-size: 0.8rem;
    padding: 4px;
    margin: 0;
    border: solid 1px #333; }
  .drawer-nav ul li.widget_search #searchsubmit {
    width: 45px;
    background: #333;
    color: #FFF;
    font-size: 0.8rem;
    padding: 5px;
    border: solid 1px #333; }
  .drawer-nav ul li.widget_search ul {
    padding: 0 5px;
    width: calc(100% - 10px);
    text-align: left; }
    .drawer-nav ul li.widget_search ul li {
      display: table-row; }
      .drawer-nav ul li.widget_search ul li::before {
        display: table-cell;
        font-family: "Font Awesome 5 Free";
        content: '\f105';
        color: #870505;
        padding-right: 5px; }

.drawer-nav h2 {
  border-left: solid 5px #CCC;
  border-right: solid 5px #CCC;
  border-bottom: none;
  background-color: #333;
  color: #FFF;
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 1.8rem;
  padding: 0;
  margin: 15px 0 10px; }
.drawer-nav .textwidget {
  padding: 0 5px;
  width: calc(100% - 10px);
  text-align: left; }
  .drawer-nav .textwidget .img_item {
    text-align: center;
    display: block; }
  .drawer-nav .textwidget .about_text {
    padding: 10px 0;
    line-height: 1.2rem; }
  .drawer-nav .textwidget.text-center {
    text-align: center; }


.drawer--left .drawer-hamburger {
  position: absolute;
  top: 17px;
  left: 0;
  border: none;
  outline: none;
}
.drawer-nav .inner {
  padding-bottom: 100px;
}
.drawer-nav .drawer-nav-menu {
  display: none;
}
@media screen and (max-width: 667px) {
  .drawer-nav .drawer-nav-menu {
    display: block;
  }
  .drawer-nav .drawer-nav-menu ul {
    margin: 10px auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px #999;
  }
  .drawer-nav .drawer-nav-menu li {
    display: block;
    font-weight: bold;
    padding: 5px 0;
    border-bottom: solid 1px #999;
    text-align: center;
    width: 50%; }
  .drawer-nav .drawer-nav-menu a {
    font-size: .6rem; }
}

drawer-journal ul,
drawer-category ul {
  text-align: left;
}
drawer-journal ul li,
drawer-category ul li {
  display: inline-block;
  margin: 0 10px;
  line-height: 1.2rem;
}
drawer-journal ul li:nth-child(n+10),
drawer-category ul li:nth-child(n+10) {
  font-size: .9rem;
}
drawer-journal ul li:nth-child(n+20),
drawer-category ul li:nth-child(n+20) {
  font-size: .8rem;
}
drawer-date ul {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
drawer-date ul li {
  width: calc(50% - 20px);
  margin: 0 10px;
  line-height: 1.2rem;
}
/*# sourceMappingURL=style.css.map */


/* LA */
#content h1{
  font-size: 1.25rem;
}
#content .article p {
  font-size: 1rem;
}

#content .static_content{
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 30px 30px 60px;
}

#content .static_content p{
  font-size: 0.9rem;
  line-height: 1.5;
}

#content .static_content h2{
  font-size: 1rem;
}

#contentleft ol li{
  line-height:1;
  padding-bottom: 6px;
}

#contentleft ol br{
  display: none;
}

/* riot component */
#contentleft_main .article_thumb {
  margin-left: 2px;
  padding-left: 7px;
  padding-bottom: 8px;
  border-left: solid 1px #999; }


/* pager */
.pager{
  clear: both;
  height: 50px;
}
#pagination-demo{
  display: inline-block;
  margin-bottom: 1.75em;
  height: 30px;
}
#pagination-demo li{
  display: inline-block;
}
#pagination-demo li a {
  line-height: 1rem;
}
.pagination-sm>li>a, .pagination-sm>li>span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5
}
.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 5px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
z-index: 3;
color: #fff;
cursor: default;
background-color: #337ab7;
border-color: #337ab7;
}
.page-content{
  background: #eee;
  display: inline-block;
  padding: 10px;
  width: 100%;
  max-width: 660px;
}
@media screen and (max-width: 315px) {
  #pagination-demo li a {
    font-size: .7rem;
  }
}

/************************************************
*	dbcls-common-footer
************************************************/
#dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info .footer__address ul.address__list {
  text-align: left;
}
@media screen and (max-width: 667px) {
  #dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info {
    padding: 0;
  }
  #dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info-ja {
    padding: 0 !important;
  }
  #dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info .footer__organism {
    width: 100%;
  }
  #dbcls-common-footer .footer__common .footer__wrapper .footer__wrapper__contents .footer__info-ja .footer__address {
    width: 95% !important;
    margin: 15px auto;
  }
}

/************************************************
*	lightbox modal
************************************************/
.modal-header{
  padding: 4px;
}
.modal-header img{
  width: 50%;
}
.modal-footer{
  padding: 4px;
}
.modal-footer button.btn{
  font-size: 0.75rem;
}
.modal-backdrop{
  opacity: 0 !important;
  background-color: #FFFFFF;
}

/************************************************
* content links & ignore li > br
************************************************/
#contentleft ul{
    list-style-position: inside;
    list-style: none;
    margin-top: 8px;
}
#contentleft ul li{
    line-height: 1.25;
    padding: 0 5px 5px 0;
}
#contentleft ul li a{
  margin-left: 4px;
}
#contentleft ul li:before{
    font-family: "Font Awesome 5 Free";
    content: '\f152';
    font-weight: 400;
    color: #886353;
    left: 6px;
}
#contentleft ul br{
    display: none;
}

.article_thumb br{
  line-height: 0.25;
}
#contentleft div#toc_container.no_bullets ul.toc_list{
  margin-left: 0;
  list-style-position: outside;
}
/************************************************
* hover card
************************************************/

a:link.anno, a:visited.anno {
  color: #2e80ce;
  padding-right: 1px;
  font-weight: bold;
}


#content .hc-refers a{
  color: #2e80ce;
}

/************************************************
* ignore brbr
************************************************/

#contentleft > div > div:nth-child(3) > br:nth-child(n+11){
  display: none;
}


/************************************************
* キーワードハイライト
************************************************/
form div.selected_list{
  display: block;
  text-align: left;
  padding-left: 5px;
}


/* logo */
.flex{
  padding: 2.5% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  );
}
.flex > *{
  background: #fff;
  text-align: center;
}
.logo>table.table-bordered{
  width: 100%;
}
.table-bordered>tbody>tr>td{
  border:1px solid #dddddd;
}
.table-bordered>tbody>tr>td.active{
  background-color: #f5f5f5;
}

.table-bordered>tbody>tr>td{
  padding: 8px;
  line-height: 1.6;
  vertical-align: top;
  border-top: 1px solid #ddd
}
.logo td, .logo th{
  font-size: 0.75rem;
 display: table-cell;
}
.logo table{
  border-collapse: collapse;
  border-spacing: 0;
}

/* loader */
#loader {
  width: 100%;
}
#loader img{
  left: 0;
  right: 0;
  bottom: 0;
  margin: 50px auto;
}

/* side menu */

#r_sidebar .l_sidebarwidgeted .caption{
  width: 100%;
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
}

.drawer-hamburger{
  height: 0px;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.menu_link{
  margin-bottom: 12px;
}