@media print {
        * {
                vertical-align: 0;
        }

        body {
                margin: 0;
                padding: 0;
                width: 100%;
                background-color: white;
                font-family: "ヒラギノ明朝 Pro W3", "細明朝体", "ＭＳ Ｐ明朝", serif;
                font-size: 10.5pt;
                line-height: 1.36em;
        }

        head + body {
                width: 165mm;
                max-width: 100%;
                min-width: 80%;
                margin: 0 auto;
        }

        h1, h2, h3, th, dt, strong, a, #logo a, #footer ul li {
                margin: 0;
                padding: 0;
                font-family: sans-serif;
                font-weight: normal;
                color: #111144;
        }

        h1 {
                font-size: 20pt;
                line-height: 1.3em;
        }

        h1 a {
                text-decoration: none;
        }

        h2 {
                margin-top: 1em;
                font-weight: bold;
                line-height: 1.3em;
        }

        h3 {
                font-family: "Helvetica Neue", "Helvetica", sans-serif;
                font-variant: small-caps;
                color: #FF251B;
                color: black;
        }

        div#nav {
                display: none;
        }

        div#masthead h1 {
                font-size: 12pt;
        }

        span.tweet-button {
                display: none;
        }

        div.reference {
                font-family: Georgia, "Times New Roman", Times, serif;
                font-size: 12pt;
                color: #000;
                line-height: normal;
                background: #FcFcFC;
                border: 1px solid #DDDCDC;
                margin: 0px 0px 10px 0px;
                padding: 10px 10px 10px 15px;
        }

        div#r_sidebar {
                display: none;
        }

        div.hs-figure {
                text-align: center;
        }

        div.hs-figure-box {
                width: 130mm;
        }

        div.hs-figure-box a.highslide img {
                width: 400pt;
        }

        div.hs-figure-caption {
                font-size: 9pt;
        }

        div.hs-figure-caption a:after {
                content: " " attr(href) " ";
        }

        div.hs-figure-caption {
                text-align: left;
                text-justify: inter-ideograph;
                width: 400pt;
        }

        div.au-profile {
                font-size: 13px;
                background: #FcFcFC;
                border: 1px solid #DDDCDC;
                margin: 0px 0px 10px 0px;
                padding: 0px 20px 10px 20px;
        }

        div.au-profile span.author {
                font-weight: bold;
        }

        div.au-profile span.af {
        }

        div.au-profile span.hi {
        }

        p#footer-navi, p#footer-web {
                display: none;
        }

        #contentleft os li, span.ti, span.au, span.so {
                font-size: 9pt;
                line-height: 1.2em;
        }

        p, dt, dd, th, td, li {
                line-height: 1.8;
        }

        #container {
                text-align: right;
        }

        #content {
                width: 92%;
                margin-left: auto;
                text-align: left;
        }

        span.so a:after {
                content: "  " attr(href) " ";
                font-size: 8pt;
                color: gray;
        }

        #logo a:after {
                content: "";
        }

        div#contentleft p.date {
                display: none;
        }

        div#contentleft p {
                font-size: 9pt;
        }

        div#contentleft p strong {
                font-size: 12pt;
                font-weight: bold;
        }

        /*
        div#contentleft p a:after {
        content: " " attr(href) " ";
        }
        */
        div#contentleft ol li {
                font-size: 9pt;
                line-height: 1.1em;
        }

        span.ti {
                font-weight: bold;
        }
}

